* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: 10px;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #000;
  background-color: black;
}
.main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 20rem 1fr;
  border-radius: 11px;
  min-height: 100vh;
}
/**/

/* nav-top */
.nav-top {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: #6d6d79;
  border-radius: 11px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  padding: 2.4rem;
}
.navbar {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.icon-nav-top {
  height: 3.2rem;
  stroke-width: 1.5px;
  stroke: #e5e7eb;
}
#text-input {
  width: 62rem;
  font-size: 1.8rem;
  padding: 8px;
  border-radius: 11px;
  outline: none;
  border: none;
  background-color: #d1d5db;
  transition: 0.3s all;
}
#text-input:focus {
  background-color: #f3f4f6;
}
.profile {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  min-width: 30rem;
  grid-column: 4 / 5;
}
.ring-icon {
  height: 3.2rem;
  stroke: #d1d5db;
}
.profile-photo {
  height: 6.2rem;
  width: 6.2rem;
  border-radius: 50%;
}
.name {
  color: #d1d5db;
  font-size: 2.4rem;
  font-weight: 400;
}
.greeting {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  min-width: 62rem;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}
.profile-photo--big {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
}
.greeting-name {
  font-size: 3.6rem;
  color: #d1d5db;
  font-weight: 400;
}
span {
  display: block;
  font-size: 2.4rem;
}
.filters {
  display: flex;
  align-items: center;
  gap: 2rem;
  min-width: 30rem;
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}
.btn-nav-top {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  border-radius: 11px;
  background-color: #bef264;
  transition: 0.3s all;
  cursor: pointer;
}
.btn-nav-top:hover {
  color: #bef264;
  background-color: #52525b;
}
/* nav-top */

/* sidebar */
.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: #bef264;
  font-size: 18px;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 2.4rem;
}
.logo-wrapper {
  display: flex;
  align-items: center;
}
.title {
  font-size: 3.2rem;
  font-weight: 400;
  letter-spacing: 2px;
}
.logo {
  gap: 1rem;
}
.logo-svg {
  height: 6.4rem;
}

.flex {
  display: flex;
  align-items: center;
  gap: 24px;
  cursor: pointer;
  position: relative;
}
.nav-1,
.nav-2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 62px;
  margin-left: 8px;
}
.flex:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: #1f1f23;
  border-radius: 50px;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.flex:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.icon-nav {
  height: 39px;
  stroke-width: 1.5px;
}
/* sidebar */

/*main section*/
.main-section {
  grid-row: 2 / 2;
  grid-column: 2 / 3;
  background-color: #52525b;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 4rem 42rem 4rem 1fr;
  padding: 2.4rem;
}
.projects-title-top {
  font-size: 2.6rem;
  color: #d1d5db;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
}
.projects-grid {
  display: grid;
  grid-row: 2/ 3;
  grid-column: 1 / 2;
  grid-template-columns: 1fr 1fr;
  gap: 12px 0;
}
.project-item {
  background-color: #fff;
  border-radius: 11px;
  margin: 10px;
  padding: 2.4rem;
}
.project-title {
  font-size: 2.4rem;
  font-weight: 400;
  padding-bottom: 1rem;
}
.project-descr {
  font-size: 1.6rem;
}
.interract {
  right: 2.4rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 2rem;
}
.project-icons {
  height: 3.2rem;
  cursor: pointer;
  transition: 0.3s all;
}
.project-icons:first-child:hover {
  stroke: rgb(45, 146, 240);
}
.project-icons:nth-child(2):hover {
  stroke: rgb(151, 2, 2);
}
.project-icons:last-child:hover {
  stroke: #10b981;
}
.announcments-title {
  grid-row: 1 / 2;
  font-size: 2.6rem;
  color: #d1d5db;
  display: flex;
  align-items: center;
}
.announcments {
  background-color: #fff;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  border-radius: 11px;
  padding: 2.4rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.announcment-item {
  border-bottom: 1px solid gray;
  width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 8px;
}
.announcment-item-title {
  font-size: 1.8rem;
  font-weight: 500;
}
.announcment-item-descr {
  font-size: 1.4rem;
  color: rgb(64, 62, 62);
}
.trendings-title {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  font-size: 2.6rem;
  color: #d1d5db;
  display: flex;
  align-items: center;
}
.trendings {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
  background-color: white;
  border-radius: 11px;
  padding: 2.6rem;
  display: flex;
  flex-direction: column;
}
.trending-profiles {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.4rem;
  border-radius: 11px;
  transition: 0.3s all;
  cursor: pointer;
}
.trending-profiles:hover {
  background-color: gainsboro;
}

.trending-profile-pic {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
}
.name-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.nicname {
  font-size: 1.8rem;
}
.project-names {
  font-size: 1.4rem;
}
/*main section*/
@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .projects-grid {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .projects-grid {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .projects-grid {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .projects-grid {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .projects-grid {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .projects-grid {
    grid-template-columns: 1fr 1fr;
  }
}
